h3{
	font-size:15px;
	margin-top:3px;
	margin-bottom:3px;
}

#tpl{
	width:340px;
	height:220px;
	margin-bottom:5px;
}

#data{
	width:205px;
	height:200px;
	margin-left:35px;
	margin-right:20px;
}

#result1{
	width:330px;
	height:490px;
}

#result2{
	width:330px;
	height:490px;
}

#submit_btn{
	vertical-align: top;
	display: inline-block;
	background-color: #DDD;
	width: 30px;
	height: 170px;
	text-align: center;
	line-height: 35px;
	padding-top: 30px;
	border-radius: 15px;
}

#submit_btn:hover{
	background-color:#CCC;
}

.left{
	float: left;
}

.right{
	float:left;
	padding-left:10px;
}
